<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.megagram.post.comment.dao.CommentDAO">
  
  
  	<!-- 댓글 -->
  	 <insert id="insertComment" parameterType="map">
  	 	INSERT INTO
   			`comment`
   			(
   				`userId`
   				, `postId`
   				, `content`
   				, `createdAt`
  				, `updatedAt`
   			)
   		VALUE
   		(
   			#{userId}
   			, #{postId}
   			, #{content}
   			, now()
   			, now()
   		
   		)
  	 
  	 </insert>
  	 
  	 <select id="selectCommentList" parameterType="int"
  	 resultType="com.marondal.megagram.post.model.Comment"><!-- postId 하나만이므로 int resultType직접만든거이므로 패키지명까지 -->
  	 	SELECT
  				`id`
				, `userId`
				, `postId`
				, `content`
				, `createdAt`
				, `updatedAt`
  		FROM
  				`comment`
  	 	WHERE 
  	 		`postId` = #{postId}<!-- 파라미터로 전달된 값 -->
  		
  	 	ORDER BY
  	 		`id`DESC
  	 
  	 </select>
  </mapper>