<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.marondal.megagram.post.dao.PostDAO">
   
   
   <insert id ="insertPost" parameterType="map"><!-- 파라미터 리턴 타입 여러개면 맵 -->
   		INSERT INTO
   			`post`
   			(
   				`userId`
   				,`content`
   				,`imagePath`
   				, `createdAt`
  				, `updatedAt`
   			)
   		VALUE
   		(
   			#{userId}
   			, #{content}
   			, #{imagePath}
   			, now()
   			, now()
   		
   		)
   
   </insert>
   
   <select id="selectPostList" parameterType="int"
  	 resultType="com.marondal.megagram.post.model.Post">
  	 	
  	 	SELECT
  				`id`
				, `userId`
				, `content`
				, `imagePath`
				, `createdAt`
				, `updatedAt`
  		FROM
  				`post`
  		ORDER BY
  			`id` DESC;<!-- 최신순서대로 -->
  	 </select>
  	 
  	 
  	 <insert id ="insertLike" parameterType="int">
  	 	INSERT INTO
  	 		`like`
  	 		(
  	 			`userId`
   				,`postId`
   				, `createdAt`
  	 		)
  	 	VALUE
  	 		(
  	 			#{userId}
  	 			, #{postId}
  	 			, now()
  	 		)
  	 </insert>
  	 <!-- 좋아요 숫자 출력 -->
  	 
  	 <select id="selectLike" parameterType = "int">
  	 	SELECT
  	 		count(1)
  	 	FROM
  	 		`like`
  	 		
  	 		
  	 
  	 </select>
  	 
  	 
  	 
  	 <insert id="insertComment" parameterType="map">
  	 	INSERT INTO
   			`post`
   			(
   				`userId`
   				,`content`
   				, `createdAt`
  				, `updatedAt`
   			)
   		VALUE
   		(
   			#{userId}
   			, #{content}
   			, now()
   			, now()
   		
   		)
  	 
  	 </insert>
  	 
  	 <select id="selectCommentList" parameterType="int"
  	 resultType="com.marondal.megagram.post.model.Comment">
  	 	SELECT
  				`id`
				, `userId`
				, `content`
				, `createdAt`
				, `updatedAt`
  		FROM
  				`comment`
  	 	WHERE 
  	 		`userId` = #{userId}
  	 	ORDER BY
  	 		`id`DESC
  	 
  	 </select>
  	
  
  	 
  	 
  
   </mapper>